services:
  koalawiki:
    image: crpi-j9ha7sxwhatgtvj4.cn-shenzhen.personal.cr.aliyuncs.com/koala-ai/koala-wiki
    environment:
      - KOALAWIKI_REPOSITORIES=/repositories
      - TASK_MAX_SIZE_PER_USER=5 # Maximum number of documents that each user can process with AI for generation
      - REPAIR_MERMAID=1 # Whether to perform Mermaid repair, 1 means repair, others mean no repair
      - CHAT_MODEL=Google AI/gemini-2.5-pro # Model must support functions
      - ANALYSIS_MODEL= # Analysis model, used to generate repository directory structure, this is very important, the stronger the model, the better the generated directory structure, if empty then use ChatModel
                        # Analysis model is recommended to use GPT-4.1, CHAT model can use other models to generate documents to save token costs
      - CHAT_API_KEY= # Your API key
      - LANGUAGE=English # Set the generation language, default is 'Chinese', English can be filled with English or 英文
      - DOC_LANGUAGE=English
      - ENDPOINT=https://proxy.dev.unia.aumo.live/api/v1/gpt/019b69f9-a340-7aef-a12b-0a8f05619c27
      - MODEL_PROVIDER=OpenAI # Model provider, supports OpenAI, AzureOpenAI
      - DB_TYPE=sqlite
      - DB_CONNECTION_STRING=Data Source=/data/KoalaWiki.db
      - UPDATE_INTERVAL=5 # Repository incremental update interval, unit: days
      - EnableSmartFilter=true # Whether to enable smart filtering, this may affect the file directory that AI gets from the repository
      - ENABLE_INCREMENTAL_UPDATE=true # Whether to enable incremental update
      - ENABLE_CODED_DEPENDENCY_ANALYSIS=false # Whether to enable code dependency analysis? This may affect the quality of the code.
      - ENABLE_WAREHOUSE_FUNCTION_PROMPT_TASK=true # Whether to enable MCP Prompt generation
      - ENABLE_WAREHOUSE_DESCRIPTION_TASK=true # Whether to enable repository Description generation
      - CUSTOM_BODY_PARAMS= # Custom request body parameters, format: key1=value1,key2=value2 example: stop=<|im_end|>,max_tokens=4096
      - MCP_STREAMABLE= # MCP service streamable configuration, format: service name=streamableUrl example: claude=http://localhost:8080/api/mcp,windsurf=http://localhost:8080/api/mcp
      # - OTEL_SERVICE_NAME=koalawiki
      # - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      # - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire-dashboard:18888
    ports:
        - "8080:8080"
    volumes:
      - ./repositories:/app/repositories
      - ./data:/data
    build:
      context: .
      dockerfile: src/KoalaWiki/Dockerfile
  
  # aspire-dashboard:
  #   image: mcr.microsoft.com/dotnet/aspire-dashboard
  #   container_name: aspire-dashboard
  #   restart: always
  #   ports:
  #     - "18888:18888"
  #   environment:
  #     - TZ=Asia/Shanghai
  #     - Dashboard:ApplicationName=Aspire
